{% extends "structure.html" %}
{% include "nav.html" %}

{% block content %}

<style>
    .span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
</style>

<body>
    
<head>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
</head>

<title>About Us</title>
    <p>
    <br>
<h1><center></center></h1>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row">
		<h2></h2>
	</div>
	
	<div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left" src="static/profile.jpg">
          <div class="content-heading"><h3>Experience &nbsp </h3></div>
          <p></p>
          <p></p>
          <p></p>
          <p>We are group of independent  insurance agents partnered with parent brokerage firms and we are here to deliver the best coverage and protection that fits your lifestyle.</p>
          <p>Our story goes back as friends, co-workers and former colleagues who have gone separate ways but found ourselves venturing in the same insurance industry.</p>
          <p>We have built trust, honor, and competency serving each other and our people in our communities as well as families, individuals and small businesses offering the peace of mind they deserve.</p>
        </div>
    </div>
</div>


<!-- <div class="container ui">
    <p><h3>PPiL (/ˈpēpəl/)</h3>
    <P>
        We are group of independent  insurance agents partnered with parent brokerage firms and we are here to deliver the best coverage and protection that fits your lifestyle.
    </p>
    <p>
        Our story goes back as friends, co-workers and former colleagues who have gone separate ways but found ourselves venturing in the same insurance industry.
    </p>
    <p>   
        We have built trust, honor, and competency serving each other and our people in our communities as well as families, individuals and small businesses offering the peace of mind they deserve. 
    </p>
</div> -->

{% endblock%}


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
















