{% extends "structure.html" %}
{% include "nav.html" %}

{% block main %}

<title>About Us</title>
<body>
    <p></p>
    <br>
<h1><center>About Us</center></h1>
<div class="container ui">
    <p><h3>PPiL (/ˈpēpəl/)</h3>
    <P>
        We are group of independent  insurance agents partnered with parent brokerage firms and we are here to deliver the best coverage and protection that fits your lifestyle.
    </p>
    <p>
        Our story goes back as friends, co-workers and former colleagues who have gone separate ways but found ourselves venturing in the same insurance industry.
    </p>
    <p>   
        We have built trust, honor, and competency serving each other and our people in our communities as well as families, individuals and small businesses offering the peace of mind they deserve. 
    </p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
{% endblock%}


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
















