{% extends "structure.html" %}
{% include "nav.html" %}

{% block content %}

      <!-- Bootstrap core CSS -->
<link href="static/css/home.css" rel="stylesheet">

  <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">PERSONAL LIAISONS</h1>
          <p class="lead mb-0">Preferred Personal Insurance Liaisons</p>
        </div>
      </div>
    </div>
  </header>

  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <p><B>PPiL (/ˈpēpəl/)</B></p>
          <p>We are a group of independent insurance agents partnered with parent brokerage firms and we are here to deliver the best coverage and protection that fits your lifestyle.</p>
          <p>Our story goes back as friends, co-workers and former colleagues who have gone separate ways but found ourselves venturing in the same insurance industry.</p>
          <p>We have built trust, honor, and competency serving each other and our people in our communities as well as families, individuals and small businesses offering the peace of mind <b><i>you</i></b> deserve.</p>
          <p class="mb-0">
          </p>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}

