{% extends "structure.html" %}
{% include "nav.html" %}


  {% block content %}
    <!-- Custom styles for this template -->
    <link href="static/css/mentorship.css" rel="stylesheet">

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Mentorship Starts Here.</h1>
    <p class="lead">Our leaders are round the clock available to answer questions and concerns.  Their world class mentorship brings forth tireless hours to serve both agents and clients alike.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
</body>

  {% endblock %}